<%- include('partials/header')%>
  <!--  -->
  <%- include('partials/nav')%>
    <!--  -->
    <div class="w-[100%] mx-auto p-10 bg-zinc-700 rounded text-center">
      <h1 class=" mb-10 text-white text-5xl font-bold text-center">This is About Page</h1>
      <p class="text-white text-center text-2xl font-thin py-3 leading-10 mb-10">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae, a magni delectus voluptatum fugiat deleniti quos exercitationem architecto quae iure, eos perspiciatis ipsum pariatur magnam. Dolorem culpa illo nam eaque deserunt ab sit, modi expedita pariatur obcaecati accusamus nobis minus dolores ad quo cum quibusdam animi, facilis sequi sint alias quasi molestias! Est quos eum deserunt soluta quas nam, ad animi id neque veritatis eius et facere repudiandae mollitia aperiam culpa labore quo alias dicta totam consectetur fugiat, vero maxime!</p>
      <a class="bg-red-300 px-5 py-2 text-white rounded " href="/login">Start Your Journey</a>
    </div>
    <!--  -->
    <%- include('partials/footer')%>