<%- include('partials/header')%>
  <!--  -->
  <%- include('partials/nav')%>
    <!--  -->
    <div class="w-[100%] h-[87vh] mx-auto p-1 bg-black text-center">
      
      <div class="flex justify-evenly gap-x-10 my-4">
        <!-- --------------------------- -->
        <div class="w-[180px] h-[180px] bg-sky-600 rounded-2xl">
          <p class="text-black text-2xl font-medium text-center py-2">messages</p>
          <p class="text-black text-5xl font-bold text-center"> 18</p>
          <div class="flex justify-between px-2  ">
            <i class="ri-user-fill text-6xl mt-5" ></i>
            <img class="h-[60px] rounded-full mt-4" src="https://img.freepik.com/free-photo/fashionable-young-woman-standing-front-blue-backdrop_23-2148204718.jpg?size=626&ext=jpg&uid=R111895022&ga=GA1.1.98835681.1716370499&semt=ais_user" alt="">
        </div>
      </div>
<!-- ------------------------------------------------ -->
      <div class="text-center">
        <h1 class=" mb-5 text-white text-5xl font-semibold text-center tracking-wider">Connect with your</h1>
      <span class=" text-center  text-4xl font-medium tracking-widest text-lime-300">friends easily</span>
      </div>
<!-- ----------------------------------------------- -->
 <div class="w-[247px] h-[59px] bg-yellow-200	 rounded-3xl gap-x-10  flex justify-evenly py-1.5">
  <img class="h-[48px] rounded-full" src="https://img.freepik.com/free-photo/portrait-interesting-young-man-winter-clothes_158595-914.jpg?w=1060&t=st=1718892530~exp=1718893130~hmac=0020eac46169481cc4c17ed3a362fd0bbd5ab20bda6e217bc465c4e12579cf9f" alt="">  
  <p class="text-black text-l font-medium text-center pt-3">Jacob Simmons</p>
 </div>
      </div>

      <!-- -------------------------------------------------------- -->
       <div class="flex justify-center gap-x-20 mb-10 ml-40 ">
        <div class="w-[80px] h-[80px] rounded-full bg-red-400 pt-5">
          <i class="ri-message-2-fill text-5xl "></i>
        </div>

        <div class="w-[300px] h-[60px] rounded-3xl bg-blue-500 flex justify-center gap-x-4">
          <img class="h-[40px] rounded-full mt-2" src="https://img.freepik.com/free-photo/guy-plaid-shirt_158595-126.jpg?t=st=1718895953~exp=1718899553~hmac=d0173d1e2189afd2791743a7ca8ec2758a9fb77d3c0e49bec839969576547d6f&w=1060" alt="">
          <div>
            <h1 class="text-black text-s font-bold">Devon Lane</h1>
            <p class="text-black text-s font-medium">Ok, I'll edit and send it back🫰</p>
          </div>
          
        </div>
        
        <div class="w-[300px] h-[60px] bg-zinc-800 rounded-3xl flex justify-evenly py-2 gap-x-10 ">
          <img class="h-[40px]" src="https://pngimg.com/uploads/whatsapp/whatsapp_PNG95162.png" alt="">
          <p class="text-white text-s font-medium py-`">Hi Buddy !
            <br>
            ✅✅  2:40am
          </p>
          <img class="h-[48px] rounded-full" src="https://img.freepik.com/free-photo/portrait-interesting-young-man-winter-clothes_158595-914.jpg?w=1060&t=st=1718892530~exp=1718893130~hmac=0020eac46169481cc4c17ed3a362fd0bbd5ab20bda6e217bc465c4e12579cf9f" alt=""> 
        </div>
       </div>
<!-- ------------------------------------------------------------------- -->
 <div class="text-center ml-60">
  <img class="h-[250px]" src="https://www.apple.com/in/iphone-15-pro/images/overview/welcome/hero_endframe__ov6ewwmbhiqq_large_2x.jpg" alt="">
 </div>
 <!-- ---------------------------------------------------------- -->
      <a class="bg-white px-5 py-2 text-black rounded font-bold hover:bg-red-500 hover:text-white" href="/login">Start Your Journey</a>
    </div>
    <!--  -->
    <%- include('partials/footer')%>
