<%- include('partials/header')%>
  <!--  -->
  <%- include('partials/nav')%>
    <!--  -->
    <div class="w-[100%] h-[87vh] mx-auto p-10 bg-yellow-500 ">
      <!-- <h1 class=" mb-10 text-lime-300 text-6xl font-bold text-center">Login User</h1>
      <form class="text-center" action="/user/login" method="post">
        <input class=" w-[50%] py-3 my-5" type="text" name="username" placeholder="Username">
        <br><br>
        <input class="w-[50%] py-4 mb-5" type="password" name="password" placeholder="Password">
        <br><br>
        <p class="text-xl font-semibold mb-7"><a class="text-blue-300" href="/forget">Forget Password</a></p>
        <button class="bg-lime-300 text-black px-10 py-2 font-semibold rounded text-xl ">Login User</button>
        <br><br>
      <p class="text-xl font-semibold text-red-400">Don't have an account ? <a class=" text-red-400" href=" /register">Register</a></p>
      </form>   
       -->
      <!-- -------------------------------------- -->
      <div class="w-[80%] h-[71vh] bg-white mx-auto mt-7 rounded-3xl flex justify-between g">
        <div>
        <h1 class="text-black text-4xl font-bold px-20 pt-7" style="  font-family: Playwrite NZ, cursive">Welcome to the world</h1>
        <p class="text-black text-xl font-bold pl-40 pt-2" style="  font-family: Caveat, cursive;">oF social media !</p>
        <form class="mx-20 py-5" action="/user/login" method="post">
          <input class=" w-[70%] py-3 px-5" type="text" name="username" placeholder="Username">
          <hr class="w-[70%] border-black pt-2">
          <br>
          <input class="w-[70%] py-3 px-5 " type="password" name="password" placeholder="Password">
          <hr class="w-[70%] border-black pt-2">
          <br>
          <p class="text-xl font-medium mb-7"><a class="text-blue-500" style="  font-family: Caveat, cursive;" href="/forget">Forget Password ?</a></p>
          <button class="bg-yellow-400 text-black px-14 py-2 font-semibold rounded-3xl text-l" >Login User</button>
          <br><br>
        <p class="text-xl font-semibold text-red-600" style="font-family: Caveat, cursive;">Don't have an account ? <a class=" text-black" href=" /register">Register</a></p>
        </form>
         
        <div class="flex justify-start my-2 ">
        <h2 class="text-black text-m font-bold px-20 pt-3" style="font-family: Caveat, cursive;"> Connect with Social</h2>
        <div class="w-[35px] h-[35px] rounded-full border-black border mx-2 my-2 pt-0.5">
          <i class="ri-facebook-box-fill px-1.5 my-10 text-xl "></i>
        </div>

        <div class="w-[35px] h-[35px] rounded-full border-black border mx-2 my-2 pt-0.5">
          <i class="ri-apple-fill px-1.5 my-10 text-xl "></i>
        </div>

        <div class="w-[35px] h-[35px] rounded-full border-black border mx-2 my-2 pt-0.5">
          <i class="ri-google-fill px-1.5 my-10 text-xl "></i>
        </div>
        </div>
        </div>

        <img class="h-[60vh] w-[30%] mx-20 my-10 rounded-3xl animate-pulse" src= "https://img.freepik.com/free-photo/medium-shot-man-futuristic-portrait_23-2151178926.jpg?size=626&ext=jpg&uid=R111895022&ga=GA1.1.98835681.1716370499&semt=ais_user">
      </div>
<!--------------------------------------- -->



    </div>
    <!--  -->
    <%- include('partials/footer')%>